<h2>Edit Periodic Task</h2>

<%= form_for(@periodictask, :url => url_for(:controller => 'periodictask', :action => 'update', :project_id => @project.identifier, :id => @periodictask.id.to_s ) ) do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= f.submit "Go!" %>
<% end %>
